{% extends "base_modern.html" %}
{% block title %}My Profile | MineRush{% endblock %}
{% block content %}
<section class="page-shell">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <article class="surface p-3 p-md-4">
          <div class="row g-4 align-items-center">
            <div class="col-md-4 text-center">
              <img class="profile-avatar" src="{{ url_for('static', filename='Articles/rules and acts/' ~ (user.picture or 'avatar_2x.png')) }}" alt="Profile picture for {{ user.name }}">
            </div>
            <div class="col-md-8">
              <p class="eyebrow mb-1">User profile</p>
              <h1 class="page-title mb-3">{{ user.name }}</h1>
              <dl class="row mb-4">
                <dt class="col-sm-4">Email</dt><dd class="col-sm-8 text-break">{{ user.email }}</dd>
                <dt class="col-sm-4">Gender</dt><dd class="col-sm-8">{{ user.gender }}</dd>
                <dt class="col-sm-4">Phone</dt><dd class="col-sm-8">{{ user.phone }}</dd>
                <dt class="col-sm-4">Username</dt><dd class="col-sm-8">{{ user.username }}</dd>
                <dt class="col-sm-4">Organization</dt><dd class="col-sm-8">{{ user.organization }}</dd>
                <dt class="col-sm-4">Role</dt><dd class="col-sm-8">{{ user.role }}</dd>
              </dl>
              <div class="d-flex flex-wrap gap-2">
                <a class="btn btn-primary" href="{{ url_for('edit_user_profile') }}">
                  <i class="fa-solid fa-pen" aria-hidden="true"></i> Edit Profile
                </a>
                <a class="btn btn-outline-secondary" href="{{ url_for('userhistory') }}">
                  <i class="fa-solid fa-clock-rotate-left" aria-hidden="true"></i> History
                </a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
