<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ userstable.email }}'s Profile</title>
  </head>
  <body>
    <h1>{{ userstable.username }}'s Profile</h1>
    <p><strong>Name:</strong> {{ userstable.name }}</p>
    <p><strong>Email:</strong> {{ userstable.email }}</p>
    <p><strong>Gender:</strong> {{ userstable.gender }}</p>
    <p><strong>Phone Number:</strong> {{ userstable.phone }}</p>
    <p><strong>Username:</strong> {{ userstable.username }}</p>
    <p><strong>Role:</strong> {{ userstable.role }}</p>
    <p><strong>Bio:</strong> {{ userstable.bio }}</p>
  </body>
</html>
