<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>User_homepage</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static/userhomepagefont.css" />
    <link rel="stylesheet" href="static/userhomepage.css" />
  </head>
  <body>
    <div>
      <nav
        class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
        style="height: 80px; color: #ffffff; background: #4d3837"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MineRush</a
          ><button
            data-bs-toggle="collapse"
            class="navbar-toggler"
            data-bs-target="#navcol-1"
          >
            <span class="visually-hidden">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: #ffffff; background-color: #4d3837"
                  href="/Userhomepage"
                  ><i class="fa fa-home"></i>&nbsp;Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: #ffffff; background-color: #4d3837"
                  href="/Myprofile"
                  ><i class="fa fa-user-circle"></i>My Profile</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: #ffffff; background-color: #4d3837"
                  href="/logout"
                  ><i class="fas fa-sign-out-alt"></i>Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div></div>
    <section>
      <div class="bg-light border rounded border-light jumbotron py-5 px-4">
        <h1 class="text-center">
          <br /><strong
            ><span
              style="
                color: rgb(0, 0, 0);
                background-color: rgba(248, 249, 250, 0);
              "
              >Welcome partners and customers! Together, we shape the future of
              mining."</span
            ></strong
          ><span style="color: rgb(154, 25, 25)"
            >Scroll down to explore the depths of the Mining industry.</span
          >
        </h1>
        <p class="text-center"></p>
        <p class="text-center"></p>
      </div>
    </section>
    <div
      class="p-5 mb-4 bg-light round-3"
      style="
        background: url('static/img/chatbot.webp') center / cover no-repeat;
      "
    >
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <span style="color: rgb(255, 255, 255)">MineRushbot</span>
        </h1>
        <p class="col-md-8 fs-4">
          <br /><span
            style="
              color: rgb(255, 255, 255);
              background-color: rgba(248, 249, 250, 0);
            "
            >"Your Legal Guide: Chatbot for Mining Laws and Stakeholder
            Queries"</span
          >
        </p>
        <a
          class="btn btn-primary btn-lg"
          role="button"
          href="/bot"
          style="background: rgb(166, 18, 18)"
          >New Chat</a
        >
      </div>
    </div>
    <div
      class="p-5 mb-4 bg-light round-3"
      style="
        background: url('static/img/1680770125-6097.avif') no-repeat;
        background-size: cover;
      "
    >
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <span style="color: rgb(255, 255, 255)">Rules and Acts</span>
        </h1>
        <p class="col-md-8 fs-4">
          <br /><span
            style="
              color: rgb(255, 255, 255);
              background-color: rgba(0, 0, 0, 0.1);
            "
            >"Mining Legalities Unveiled: Your Exclusive Guide"</span
          ><br /><br />
        </p>
        <a
          class="btn btn-primary btn-lg"
          role="button"
          href="/Rulesandacts"
          style="background: rgb(149, 33, 33)"
          >Learn more</a
        >
      </div>
    </div>
    <div
      class="p-5 mb-4 bg-light round-3"
      style="
        background: url('static/img/help-pictures-2000-x-869-m69q0n3uzv5ul3w2.jpg')
          top / cover;
      "
    >
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Instructions</h1>
        <p class="col-md-8 fs-4">
          <br /><span style="color: rgb(255, 255, 255)"
            >"Guidelines for Navigation: Instructions for Smooth
            Exploration"</span
          >
        </p>
        <a
          class="btn btn-primary btn-lg"
          role="button"
          href="/User_instructions"
          style="background: rgb(153, 38, 38)"
          >Click here</a
        >
      </div>
    </div>
    <div
      class="p-5 mb-4 bg-light round-3"
      style="
        background: url('static/img/business-developer-work-experience-in-new-zealand.jpg')
          no-repeat;
        background-size: cover;
      "
    >
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <span style="color: rgb(255, 255, 255)">Explore Internships</span>
        </h1>
        <p class="col-md-8 fs-4">
          <br /><span
            style="
              color: rgb(255, 255, 255);
              background-color: rgba(0, 0, 0, 0.1);
            "
            >"Find Your Path: Explore Internship Opportunities"</span
          >
        </p>
        <a
          class="btn btn-primary btn-lg"
          role="button"
          href="/Explore_internships"
          style="background: rgb(173, 14, 14)"
          >Search Internships</a
        >
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/userhomepage.js"></script>
  </body>
</html>
